<head>
	<meta charset="utf-8">
<!-- 	<meta name="viewport" width="device-width, initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Caleb Lucas">
	<meta name="keywords" content="Caleb, Lucas, international, relations, Michigan State University, MSU, political, science, methodology, conflict, civil war, media, terrorism, terrorist, propaganda, arabic, mena, rebel, rebels, non-state, violent, violence, syria, lebanon, poli, sci">
	<link rel="shortcut icon" type="image/x-icon"  href="favicon.ico" />
	<title>{{ page.title }} | Caleb Lucas </title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

 	{% include analytics.html %}
	{% seo %} 
</head>
